
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Categorias</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        JUGOS
                                    </a>
                                </h4>
                            </div>
                            <div id="sportswear" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="">Frutas </a></li>
                                        <li><a href="">Estractos </a></li>
                                        <li><a href="">Especiales </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">DESAYUNOS</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">ALMUERZOS</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">CENAS</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">MERIENDAS</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">FRUTAS</a></h4>
                            </div>
                        </div>
                    </div><!--/category-productsr-->                      
                    
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="~/images//product-details/1.jpg" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href=""><img src="~/images//product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/images//product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/images//product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href=""><img src="~/images//product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/images//product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/images//product-details/similar3.jpg" alt=""></a>
                                </div>
                                <div class="item">
                                    <a href=""><img src="~/images//product-details/similar1.jpg" alt=""></a>
                                    <a href=""><img src="~/images//product-details/similar2.jpg" alt=""></a>
                                    <a href=""><img src="~/images//product-details/similar3.jpg" alt=""></a>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="~/images//product-details/new.jpg" class="newarrival" alt="" />
                            <h2>Anne Klein Sleeveless Colorblock Scuba</h2>
                            <p>Web ID: 1089772</p>
                            <img src="~/images//product-details/rating.png" alt="" />
                            <span>
                                <span>S/. 59.00</span>
                                <label>Cantidad:</label>
                                <input type="text" value="3" />
                                <button type="button" class="btn btn-fefault cart">
                                    <i class="fa fa-shopping-cart"></i>
                                    Comprar
                                </button>
                            </span>
                            <p><b>Disponibilidad:</b> En Stock</p>
                            <p><b>Condición:</b> Preparado al Instante</p>                            
                            <a href=""><img src="~/images//product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab">
                    <!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">                            
                            <li class="active"><a href="#reviews" data-toggle="tab">Descripción</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">                                                                       
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>EUGENIO</a></li>
                                    <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i>28 DEC 2016</a></li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <p><b>Deja tu Comentario</b></p>

                                <form action="#">
                                    <span>
                                        <input type="text" placeholder="Nombre" />
                                        <input type="email" placeholder="Email" />
                                    </span>
                                    <textarea name=""></textarea>
                                    <b>Puntaje: </b> <img src="~/images//product-details/rating.png" alt="" />
                                    <button type="button" class="btn btn-default pull-right">
                                        Enviar
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->
                                
            </div>
        </div>
    </div>
</section>