
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Carrito de Compras</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <th class="image">Producto</th>
                        <th class="description">Descripción</th>
                        <th class="price">Precio</th>
                        <th class="quantity">Cantidad</th>
                        <th class="total">Total</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="itemcarrito"></tbody>
                <tr>
                		<td></td><td></td>
                         <td class="stronger">Total:</td>
                         <td class="stronger"><div id="totalCompra" class="size-16 align-right">0.00</div></td>
                        <td class="cart_delete">
                            <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                </tr>

            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Vayamos al siguiente paso:</h3>
            <p>Vea si tiene un código de descuento o puntos de recompensa que desea utilizar, o si desea estimar el costo de envío.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Usar Código de Cupon</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Usar Vale de Regalo</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimar Envío e Impuestos</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Provincia:</label>
                            <select>
                                <option>Huamanga</option>
                                <option>Huanta</option>
                                <option>La Mar</option>
                                <option>Vilcashuaman</option>
                                <option>Cangallo</option>                                
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Distrito:</label>
                            <select>
                                <option>Select</option>
                                <option>Ayacucho</option>
                                <option>Andres A. Cáceres</option>
                                <option>Carmen Alto</option>
                                <option>Jesús Nazareno</option>
                                <option>San Juan Bautista</option>                                
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Código Postal:</label>
                            <input type="text">
                        </li>
                    </ul>                    
                    <a class="btn btn-default check_out" href="">Actualizar</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Sub Total <span>S/. 50.00</span></li>
                        <li>IGV 18%<span>S/. 9.00</span></li>
                        <li>Costo de Envío <span>S/. 10.00</span></li>
                        <li>Total <span>S/. 69.00</span></li>
                    </ul>                    
                    <a class="btn btn-default check_out" href="@Url.Action("Confirmar","Comprar")">Continuar</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->

<script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargarProductos(productos);
            }
        });
        function CargarProductos(productos) {
            var html = '';
            var total = 0;

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += '<tr>' +
                '            <td class="image"><img src="images/ImgProductos/' + this.Imagen + '" alt="" width="124" height="124" /></td>' +
                '            <td class="desc">' + this.Denominacion + ' &nbsp; <a title="Remove Item" class="icon-remove-sign" href="#"></a></td>' +
                '            <td class="qty">' +
                '                <input type="text" class="tiny-size" value="' + this.Cantidad + '" />' +
                '           </td>' +
                '           <td class="price">S/. ' + this.Precio + '</td>' +
                '          </tr>'
            });
            $('#itemcarrito').html(html);

            $("#totalCompra").text('S/.' + total);
        }
</script>

