
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Carrito de Compras</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <th class="image">Producto</th>
                        <th class="description">Descripción</th>
                        <th class="price">Precio</th>
                        <th class="quantity">Cantidad</th>
                        <th class="total">Total</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="itemcarrito"></tbody>
                <tr>
                		<td></td><td></td>
                        <td class="cart_delete">
                            <a id="btnEliminar" class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                        </td>
                         <td class="stronger">Total:</td>
                         <td class="stronger"><div id="totalCompra" class="size-16 align-right">0.00</div></td>                        
                </tr>

            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Vayamos al siguiente paso:</h3>
            <p>Donde deseas que se haga el envío.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">                       
                        <li>
                            <input type="checkbox">
                            <label>Usar Vale de Descuento</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Estimar Envío e Impuestos</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Provincia:</label>
                            <select>
                                <option>Huamanga</option>
                                <option>Huanta</option>                                                                
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Distrito:</label>
                            <select>
                                <option>Seleccionar</option>
                                <option>Ayacucho</option>
                                <option>Andres A. Cáceres</option>
                                <option>Carmen Alto</option>
                                <option>Jesús Nazareno</option>
                                <option>San Juan Bautista</option>                                
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Dirección:</label>
                            <input type="text">
                        </li>
                    </ul>                    
                    <div class="proceed">
                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Confirmar","Compra")" class="btn btn-danger pull-right bold higher">Continuar</a>
                        }
                        else
                        {
                            <a href="#loginModal" role="button" data-toggle="modal" class="btn btn-danger pull-right bold higher">Continuar</a>
                        }
                        <small>Los costos de envío se calculan por su destino. <a href="#">Más Información</a></small>
                    </div>

                </div>
            </div>
            
        </div>
    </div>
</section><!--/#do_action-->

<script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargarProductos(productos);
            }

            $("#btnEliminar").click(function () {
                servicio.carrito.splice(servicio.carrito.indexOf(item), 1);
                localStorage.setItem("carrito", JSON.stringify(servicio.carrito));
            });
        });
        function CargarProductos(productos) {
            var html = '';
            var total = 0;

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += '<tr>' +
                '            <td class="image"><img src="images/ImgProductos/' + this.Imagen + '" alt="" width="124" height="124" /></td>' +
                '            <td class="desc">' + this.Denominacion + ' &nbsp; <a title="Remove Item" class="icon-remove-sign" href="#"></a></td>' +
                '            <td class="qty">' +
                '                <input type="text" class="tiny-size" value="' + this.Cantidad + '" />' +
                '           </td>' +
                '           <td class="price">S/. ' + this.Precio + '</td>' +
                '          </tr>'
            });
            $('#itemcarrito').html(html);

            $("#totalCompra").text('S/.' + total);
        }

        $scope.eliminar = function (item) {
            servicio.carrito.splice(servicio.carrito.indexOf(item), 1);
            localStorage.setItem("carrito", JSON.stringify(servicio.carrito));
        };
</script>

