
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">                
                <li class="active"><h2>Verificar y Confirmar</h2></li>
            </ol>
        </div><!--/breadcrums-->        
        <!--/checkout-options-->
        <!--/register-req-->        
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <th class="image">Producto</th>
                        <th class="description">Descripción</th>
                        <th class="price">Precio</th>
                        <th class="quantity">Cantidad</th>
                        <th class="total">Total</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody id="itemcarrito"></tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="stronger">Total:</td>
                    <td class="stronger"><div id="totalCompra" class="size-16 align-right">0.00</div></td>                    
                </tr>

                    <tr>
                        <td colspan="4">&nbsp;</td>
                        <td colspan="2">
                            <table class="table table-condensed total-result">
                                <tr>
                                    <td>Sub Total</td>
                                    <td>S/. 0.00</td>
                                </tr>
                                <tr>
                                    <td>IGV 18%</td>
                                    <td>S/. 0.00</td>
                                </tr>
                                <tr class="shipping-cost">
                                    <td>Costo de Envío</td>
                                    <td>S/. 10.00</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td><span>S/. 0.00</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                
            </table>
        </div>
        
        <div class="shopper-informations">
            <div class="row">
                
                <div class="col-sm-5 clearfix">
                    <div class="bill-to">
                        <p>Información de Cliente y Forma de Pago</p>
                        <div class="form-one">
                            <form>
                                <input type="text" placeholder="Nombres *">                                
                                <input type="text" placeholder="Apellidos *">
                                <input type="text" placeholder="Telefono *">
                                <input type="text" placeholder="Email *">                                                                
                                <input type="text" placeholder="Dirección *">                                
                            </form>
                        </div>
                        <div class="form-two">
                            <form>                                
                                <select>
                                    <option>-- Tipo de Pago --</option>
                                    <option>Tarjeta de Crédito</option>
                                    <option>Deposito a Cuenta</option>
                                    <option>Contra Entrega</option>                                    
                                </select>
                                <select>
                                    <option>-- Tipo de Tarjeta --</option>
                                    <option>Visa</option>
                                    <option>MasterCard</option>                                    
                                </select>
                                <input type="password" placeholder="Número de Tarjeta *">
                                <input type="text" placeholder="CVV o CVC *">  
                                <p>Fecha de Expiración</p>                              
                                <div class="controls">
                                    <select id="exp" class="input-small month-push-right">
                                        <option value="-1" />-- Mes --
                                        <option value="1" />01
                                        <option value="2" />02
                                        <option value="3" />03
                                        <option value="4" />04
                                        <option value="5" />05
                                        <option value="6" />06
                                        <option value="7" />07
                                        <option value="8" />08
                                        <option value="9" />09
                                        <option value="10" />10
                                        <option value="11" />11
                                        <option value="12" />12
                                    </select>
                                    <p> </p>
                                    <select id="exp" class="input-small">
                                        <option value="-1" />-- Año --
                                        <option value="2013" />2017
                                        <option value="2014" />2018
                                        <option value="2015" />2019
                                        <option value="2016" />2020
                                        <option value="2017" />2021
                                        <option value="2018" />2022
                                        <option value="2019" />2023

                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="order-message">
                        <p>Orden de Envío</p>
                        <textarea name="message" placeholder="Puede agregar alguna nota para el envío de su pedido." rows="16"></textarea>
                        <label><input type="checkbox"> Enviar Factura a la Dirección</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Confirmar Compra</p>                                               
                        <a id="btnConfirmar" class="btn btn-primary" href="#">Confirmar y Pagar</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section> <!--/#cart_items-->

<script>
        $(function () {
            var carrito = localStorage.getItem("carrito");
            var productos = [];
            if (carrito != null) {
                productos = JSON.parse(carrito);
                CargarProductos(productos);
            }
            });
            $("#btnConfirmar").click(function () {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("RealizarPedido","Compra")',
                    data: carrito,
                    success: function () {
                        localStorage.removeItem("carrito");
                        window.location = '@Url.Action("Index","Home")';
                    }
                });
            });
        
        function CargarProductos(productos) {
            var html = '';
            var total = 0;

            $.each(productos, function () {
                total += this.Precio * this.Cantidad
                html += '<tr>' +
                '            <td class="image"><img src="http://localhost/Admin/ImgProductos/' + this.Imagen + '" alt="" width="124" height="124" /></td>' +
                '            <td class="desc">' + this.Denominacion + ' &nbsp; </td>' +
                '            <td class="qty">' +
                '                ' + this.Cantidad +
                '           </td>' +
                '           <td class="price">S/. ' + this.Precio + '</td>' +
                '          </tr>'
            });
            $('#itemcarrito').html(html);

            $("#totalCompra").text('S/.' + total);
        }
</script>

