
<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Ingresa con tu Cuenta</h2>
                    <form action="#">
                        <input type="text" placeholder="Nombres y Apellidos" />
                        <input type="email" placeholder="Email" />
                        <span>
                            <input type="checkbox" class="checkbox">
                            Recordar mi Cuenta
                        </span>
                        <button type="submit" class="btn btn-default">Ingresar</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">Ó</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Crear Cuenta</h2>
                    <form action="#">
                        <input type="text" placeholder="Nombres y Apellidos" />
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Contraseña" />
                        <button type="submit" class="btn btn-default">Registrarse</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->